# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Android
android/app/build/
android/.gradle/
android/build/
android/local.properties
*.apk
*.aab
*.so
*.o

# iOS
ios/build/
ios/Pods/
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
DerivedData/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Bundle artifacts
*.jsbundle

# CocoaPods
ios/Pods/

# Expo
.expo/
.expo-shared/

# Environment
.env
.env.local

# VS Code
.vscode/

# Misc
.gradle
*.iml
*.hprof
